* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(253, 250, 244);
    font-family: 'Roboto', sans-serif;
    color: rgb(209, 198, 183);
}

a {
    text-decoration: none;
    color: #a79e8e;
}

ul {
    list-style-type: none;
    display: flex;
    font-size: 18px;
    gap: 20px;
}

button {
    background-color: #7a9b93;
    padding: 8px;
    width: 130px;
    height: auto;
    font-weight: bold;
    color: #ffffff;
    font-size: 18px;
    border-style: none;
    border-radius: 8px;
}

img {
    width: 480px;
    height: 480px;
}

.section1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 150px;
    background-color: #443828;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 16px;
}

.logo {
    font-size: 24px;
    color: #e7dfcf;
    font-weight: 700;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    padding-bottom: 100px;
    margin: 0 130px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 0 0 450px;
}

.title {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}

.subtitle {
    font-size: 18px;
    color: #a79e8e;
    line-height: 1.5;
}


/*.img-placeholder {
    width: 480px;
    height: 250px;
    background-color: #a89e8c;
    color: #58544c;
    display: flex;
    justify-content: center;
    align-items: center;
}*/


/*section2*/

.section2 {
    gap: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.random-info {
    font-size: 36px;
    font-weight: 700;
    color: #58544c;
    padding-top: 48px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    padding-bottom: 130px;
    justify-content: center;
    align-items: center;
}

.image-subtext {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: rgb(85, 88, 92);
    font-size: 18px;
}

.image {
    flex: 0 0 auto;
    height: 180px;
    width: 180px;
    border: 5px solid #a2c2b9;
    border-radius: 20px;
}

.subtext {
    flex: 0 0 auto;
    width: 180px;
    height: auto;
    text-align: center;
    color: #a89e8c;
}


/*section3*/

.section3 {
    display: flex;
    background-color: #a79e8e;
    color: #443828;
    flex-direction: column;
    justify-content: center;
    padding: 130px 18%;
    gap: 8px;
}

.thor {
    align-self: flex-end;
    font-weight: 700;
    font-size: 24px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}


/*section4*/

.section4 {
    display: flex;
    background-color: #443828;
    margin: 130px 10%;
    justify-content: space-around;
    align-items: center;
    padding: 50px 100px;
    gap: 150px;
    border-radius: 8px;
}

.left-action {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}

.action {
    font-size: 24px;
}

.action-subtitle {
    font-size: 18px;
    color: #a79e8e;
}

.call-to-action {
    width: 150px;
}